@import './utils/helper';
@import './components/modal';
// color
$red: rgb(175, 16, 16);
$pink: #EA3C6E;
$green: #4CAF50;
$blue: #1B73A7;
$yellow: #FFC000;
$light-gray: gray;
$dark-gray: #646464;
$default: #eee;


$themes: (
  'red': $red,
  'green': #4CAF50,
  'blue': #1B73A7,
  'yellow': #FFC000,
  'light-gray': gray,
  'dark-gray': #646464,
  'default': #eee
);

@each $key, $var in $themes {
  .bg-#{$key} {
    background-color: $var;
  }
}
* {
  position: relative;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0 
}
li {
  list-style-type: none
}

// POPUP //
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 10;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 35%;
  max-width: 350px;
  position: relative;
  transition: all 5s ease-in-out;
  h2 {
    font-size: 1.3rem;
    color: $dark-gray;
    text-align: center;
    margin-bottom: 2rem;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: $dark-gray;
    z-index: 10;
    cursor: pointer;
    &:hover {
      color: $green;
    }
  }
  
  .content {
    max-height: 30%;
    overflow: auto;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
  }
}

// modal 卡片樣式
.p-card {
  margin: auto;
  width:100%;
  &__item {
    margin: 0.5rem 0.2rem;
    p {
      color: $light-gray;
      margin-bottom: 0.2rem;
    }
    &--comment {
      color: #aaa;
      font-size: 0.7rem;
      padding-left: 0.2rem;
    }
  }
  input[type=text], input[type=number]  {
      box-shadow: none;
      padding: 4px 0.4rem;
      box-sizing: border-box;
      background-color: #fff;
      border: 1px solid #ced2db;
      height: 34px;
      font-size: 14px;
      line-height: 1.4;
      color: #555;
      border-radius: 4px;
      &:disabled {
        background-color: #eee;
      }
  }
  textarea {
    box-shadow: none;
    padding: 4px 0.4rem;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ced2db;
  }
  .option {
    width: 168px;
  }
  .MdBtnUpload {
    border-radius: 0!important;
    box-shadow: none!important;
    padding: 0!important;
    background: #e6eaf0;
    border: 1px solid #b7bfca;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    margin: 0 3px 0 0;
    display: inline-block;
    box-sizing: border-box;
    .mdBtnUploadTxt {
      border-radius: 0;
      background: none!important;
      box-shadow: none!important;
      text-shadow: none!important;
      color: #6d7987;
      font-size: 14px;
      font-weight: normal;
      line-height: 33px;
      padding: 0 12px;
      width: auto !important;
      height: 33px;
    }
    .mdBtnUploadInput {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 27px;
    }
  }

}

// searchBar
.p-searchArea {
  &__item {
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    padding: 5px 10px;
  }
  &__item__delete {
    font-size: 1rem;
    color: $blue;
    cursor: pointer;
    padding-left: 10px;
  }
}

// 頁碼
.page {
  &__icon {
    cursor: pointer;
  }
  &__text{
    padding: 0px 5px 0px 5px; 
    font-weight: bold; 
    color: $dark-gray;
  }
}

.dropdown > .dropdown-menu {
  display: none; 
}
.dropdown.open > .dropdown-menu {
  display: block;
}

.radioGroup {
  li {
    display: inline-block;
    border: 1px solid $blue;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: $dark-gray;
  }
  .radioGroup--active {
    background: #1B73A7;
    color: $default;
  }
}