<?xml version="1.0" encoding="UTF-8"?>
<!--日誌級別以及優先順序排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--Configuration後面的status，這個用於設定log4j2自身內部的資訊輸出，可以不設定，當設定成trace時，你會看到log4j2內部各種詳細輸出 -->
<!--monitorInterval：Log4j能夠自動檢測修改配置 檔案和重新配置本身，設定間隔秒數 -->

<configuration status="INFO" monitorInterval="30">

	<!--先定義所有的appender -->
	<appenders>
		<!--這個輸出控制檯的配置 -->
		<console name="Console" target="SYSTEM_OUT">
			<!--控制檯只輸出level及以上級別的資訊（onMatch），其他的直接拒絕（onMismatch） -->
			<ThresholdFilter 
				level="info" 
				onMatch="ACCEPT"
				onMismatch="DENY" />
				
			<PatternLayout>
				<Pattern>%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%-4L] %-35.35C{1} %-25M [%-20t] - %m%n</Pattern>
			</PatternLayout>
		</console>

		<RollingFile name="RollingFileInfo"
			fileName="/bcs/log/richart/richartuat/richartuat.bc.run.log"
			filePattern="/bcs/log/richart/richartuat/richartuat.bc.run-%d{yyyy-MM-dd}-%i.log">

			<ThresholdFilter 
				level="info" 
				onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout>
				<Pattern>%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%-4L] %-35.35C{1} %-25M [%-20t] - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="200 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
			
			<!-- DefaultRolloverStrategy屬性如不設定，則預設為7個檔案，pattern需搭配 %i 使用 -->
			<DefaultRolloverStrategy max="20" />
			
		</RollingFile>
	</appenders>

	<!--然後定義logger，只有定義了logger並引入的appender，appender才會生效 -->
	<loggers>
		<!--過濾掉spring和mybatis的一些無用的DEBUG資訊 -->
		<logger name="org.springframework" level="INFO"></logger>
		<logger name="org.mybatis" level="INFO"></logger>
		<root level="INFO">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFileInfo" />
		</root>
	</loggers>
</configuration>
