<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:with="strList = ${ {'/BCS/JS/MsgFragment/MsgList.base.js', '/BCS/JS/MsgFragment/PaginationFragment.js', '/BCS/JS/pageRMmL.base.js'} }">
<head th:replace="/BCS/Views/Common/Head :: head ('Rich Menu List Page', ${strList})">
</head>

<body>
	<header th:replace="/BCS/Views/Common/Header :: header"></header>

    <div class="LyContents">
    	<div th:replace="/BCS/Views/Common/Menu :: menu ('PageRMgL')"></div>

        <!-- Right Content -->
        <div class="LyMain" role="main">
            <form>
                <section>

                    <header class="ContentHead">
                        <h3 class="CHTtl">選單群組成員</h3>
                    </header>
                   	
                   	<div class="CHBtnSet">
                        <div class="CHRight">
                        	<input class="btn_cancel" type="button" value="返回" style="cursor: pointer;">
                        </div>
                    </div> 

	                <header class="ContentHead">
                   		<div class="CHTtl" style="display: inline">重新聯繫：</div>
                   		<input class="btn_save" id="updateSendGroup" type="button" value="重新聯繫"  style="cursor: pointer;">
                    </header>
                                        
	                <header class="ContentHead">
                   		<div class="CHTtl" style="display: inline">建立新的成員：</div>
                   		<input class="btn_save" id="createRichMenu" type="button" value="建立圖文選單"  style="cursor: pointer;">
                    </header>
             
                    <div class="mainFrame">
                        <table border="1" id="richMsgListTable">
                            <colgroup>
                           		<col width="100">
	                            <col width="100">
	                            <col width="50">
	                            <!-- <col width="100"> -->
	                            <col width="100">
	                            <col width="50">
	                            <col width="50">
	                            <col width="50">
	                            <col width="50">
	                            <col width="50">
                            </colgroup>
                            <tr>
                            	<th>ID</th>
                                <th>名稱</th>
                                <th>層級</th>
                                <!-- <th>使用期間</th> -->
                                <th>啟用碼</th>
                                <th>狀態</th>
                                <th>建立時間</th>
                                <th>建立人員</th>
                                <th>開關</th>
                                <th>複製/刪除</th>
                            </tr>
                            <tbody class="richMsgTrTemplate">
                            <tr>
                            	<td class="id"></td>
                                <td class="richMenuImgTitle">
                                	<input type="hidden" class="richId">
                                	<input type="hidden" class="richMenuId">
                                    <img src="" width="100px" style="cursor: pointer;">
                                    <div><a href="" class="richMenuName"></a></div>
                                </td>
                                <td class="richMenuLevel" style="text-align: left;"></td>
                                <!-- <td class="richMenuUseTime" style="text-align: left;"></td> -->
                                <td class="richMenuId"></td>
                                <td class="richMenuStatus"></td>
                                <td class="richMsgCreateTime"></td>
                                <td class="richMsgCreateUser"></td>
                                <td>
                                    <input class="btn_redesign" type="button" value="啟用" style="cursor: pointer;">
                                    <input class="btn_disable" type="button" value="停用" style="cursor: pointer;">
                                </td>
                                <td>
<!--                                 	<input class="btn_dialog exportReport" type="button" value="報表" style="cursor: pointer;"> -->
                                    <input class="btn_clone" type="button" value="複製" style="cursor: pointer;">
                                    <input class="btn_delete" type="button" value="刪除" style="cursor: pointer;">
                                    <iframe id="downloadReport" style='display:none' ></iframe>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </form>
        </div>
    </div>
</body>

</html>
