<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"  
      th:with="strList = ${ {'NULL'} }">
<head th:replace="/BCS/Views/Common/HeadForHpiRichmenu :: head ('Rich Menu List Page', ${strList})" >
</head>

<body>
	<header th:replace="/BCS/Views/Common/Header :: header"></header>

	<div class="LyContents">
		<div th:replace="/BCS/Views/Common/Menu :: menu ('PageHpiRchmnu')"></div>

		<!-- Right Content -->
		<div class="LyMain" role="main">
			<form>
				<section>
				
					<div style="height: 100%;">
						<iframe id="IframeContent" src=""
							width="100%" height='800px'></iframe>
					</div>
				
					<script>
							
						function getLocationOriginRichmenuListPage() {
							var srcURL = window.location.origin + "/bcsweb/#/RichmenuList";
							console.info("srcURL = " + srcURL);
							
							$('#IframeContent').attr("src", srcURL);
							return srcURL;
						}
						
						getLocationOriginRichmenuListPage();
						
					</script>
				</section>
			</form>
		</div>
	</div>
</body>

</html>
