<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:with="strList = ${ {'/BCS/JS/MsgFragment/MsgList.base.js', '/BCS/JS/MsgFragment/PaginationFragment.js', '/BCS/JS/pageRM3.base.js'} }">
<head th:replace="/BCS/Views/Common/Head :: head ('Rich Menu List Delete Page', ${strList})">
</head>

<body>
	<header th:replace="/BCS/Views/Common/Header :: header"></header>

    <div class="LyContents">
    	<div th:replace="/BCS/Views/Common/Menu :: menu ('PageRM2')"></div>

        <!-- Right Content -->
        <div class="LyMain" role="main">
            <form>
                <section>
                    <header class="ContentHead">
                        <h3 class="CHTtl">圖文選單列表  停用</h3>
                    </header>

                    <div class="CHBtnSet">
                    	<div class="CHLeft" style="min-width: 10%;">
                            <ul>
                                <li class="CHLeftBtn"><input class="ActiveBtn" type="button" value="啟用" style="cursor: pointer;"></li>
                                <li class="CHLeftBtn ExSelected"><input class="DisableBtn" type="button" value="停用" style="cursor: pointer;"></li>
                            </ul>
                        </div>
                        <div class="CHRight">
                        	<input class="btn_add" type="button" value="建立圖文選單"  style="cursor: pointer;">
                        </div>
                    </div>

                    <div th:replace="/BCS/Views/MsgFragment/PaginationFragment :: pagination ('標題', '100', 'true', 'true')"></div>

                    <div class="mainFrame">
                        <table border="1" id="richMsgListTable">
                            <colgroup>
	                            <col width="150">
	                            <col width="150">
	                            <col width="80">
	                            <col width="120">
	                            <col width="120">
	                            <col width="100">
	                            <col width="150">
                            </colgroup>
                            <tr>
                                <th>標題</th>
                                <th>連結</th>
                                <th>切換條件</th>
                                <th>使用期間</th>
                                <th>建立時間</th>
                                <th>建立人員</th>
                                <th>報表/啟用/複製/刪除</th>
                            </tr>
                            <tbody class="richMsgTrTemplate">
                            <tr>
                                <td class="richMenuImgTitle">
                                	<input type="hidden" class="richId">
                                	<input type="hidden" class="richMenuId">
                                    <img src="" width="100px" style="cursor: pointer;">
                                    <div><a href="richMenuCreatePage" class="richMenuName"></a></div>
                                </td>
                                <td class="richMenuImgUrl" style="text-align: left;"></td>
                                <td class="richMenuChangeCondition" style="text-align: left;"></td>
                                <td class="richMenuUseTime" style="text-align: left;"></td>
                                <td class="richMsgCreateTime"></td>
                                <td class="richMsgCreateUser"></td>
                                <td>
                                	<input class="btn_dialog exportReport" type="button" value="報表" style="cursor: pointer;">
                                    <input class="btn_redeisgn" type="button" value="啟用" style="cursor: pointer;">
                                    <input class="btn_copy" type="button" value="複製" style="cursor: pointer;">
                                    <input class="btn_detele" type="button" value="刪除" style="cursor: pointer;">
                                    <iframe id="downloadReport" style='display:none' ></iframe>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </form>
        </div>
    </div>
</body>

</html>
