<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with="jsList = ${{'/BCS/JS/pageHpiRichmenuGroupList.base.js'}}">
<head th:replace="/BCS/Views/Common/Head :: head ('HpiRichmenu Group List Page', ${jsList})">
</head>

<body>
	<header th:replace="/BCS/Views/Common/Header :: header"></header>

    <div class="LyContents">
		<div th:replace="/BCS/Views/Common/Menu :: menu ('PageHpiRichmenuGroupList')"></div>

        <!-- Right Content -->
        <div class="LyMain" role="main">
            <form>
                <section>
                    <header class="ContentHead">
                        <h3 class="CHTtl">圖文選單群組列表</h3>
                    </header>
                    <div class="mainFrame">
                        <table border="1" id="tableBody">
                            <colgroup>
	                            <col width="150">
	                            <col width="100">
	                            <col width="100">
	                            <col width="100">
	                            <col width="100">
                            </colgroup>
                            <tr class="tableHeader">
                                <th>群組名稱</th>
                                <th>群組類型</th>
                                <th>修改日期</th>
                                <th>修改人員</th>
                                <th>複製/刪除</th>
                            </tr>
                            <tr class="dataTemplate">
                                <td class="groupName"><a href=""></a></td>
                                <td class="groupType"></td>
                                <td class="modifyTime"></td>
                                <td class="modifyUser"></td>
                                <td>
                                    <input class="btn_copy" style="cursor: pointer;" type="button" value="複製">
                                    <input class="btn_detele" style="cursor: pointer;" type="button" value="刪除">
                                </td>
                            </tr>
                        </table>
                    </div>
					<div class="CHBtnSet">
	                    <div class="CHLeft">
							<input id="btn_PreviousPage" type="button" value="<" style="cursor: pointer;">
	                        <label style="padding: 0px 5px 0px 5px; font-weight: bold; color: black;">第</label>
	                        <label id="currentPageIndex" style="padding: 0px 5px 0px 5px; font-weight: bold; color: black;">-</label>
	                        <label style="padding: 0px 5px 0px 5px; font-weight: bold; color: black;">/</label>
	                        <label id="totalPageSize" style="padding: 0px 5px 0px 5px; font-weight: bold; color: black;">-</label>
	                        <label style="padding: 0px 5px 0px 5px; font-weight: bold; color: black;">頁</label>
	                        <input id="btn_NextPage" type="button" value=">" style="cursor: pointer;">
	                    </div>
	                    <div class="CHRight">
	                    	<label style="padding: 0px 0px 0px 5px; font-weight: bold; color: black;">每頁顯示資料筆數</label>
							<div class="optionPageSize">
								<div class="optionLabelPageSize">15</div>
								<select id="CountSelector" class="optionSelectPageSize" name="">
									<option value="5">5</option>
									<option value="10">10</option>
									<option value="15" selected>15</option>
									<option value="20">20</option>
								</select>
							</div>
	                    </div>
					</div>

                </section>
            </form>
        </div>
    </div>
</body>

</html>
