<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:th="http://www.thymeleaf.org"
    th:with="jsList = ${{'/BCS/JS/pageWinningLetterSignature.base.js'}}">
<head th:replace="/BCS/Views/Common/Head :: head ('Winning Letter Signature Page', ${jsList})">
</head>

<body>
	<header th:replace="/BCS/Views/Common/Header :: header"></header>
	
	<div class="LyContents">
		<div th:replace="/BCS/Views/Common/Menu :: menu ('PageWinningLetterSignature')"></div>
		
		<!-- Right Content -->
		<div class="LyMain" role="main">
		    <div class="container">
			    <header class="ContentHead">
					<h3 class="CHTtl">中獎回函簽名測試</h3>
					<p id="subTitle" class="CHDesc">測試簽名並儲存成圖檔</p>
				</header>
				<div class="row">
					<div class="col-md-12">
				 		<canvas class="sig-canvas" id="sig-canvas" width="620" height="160">
				 			The browser not supported, get a better browser, bro.
				 		</canvas>
				 	</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input class="btn_save" id="sig-submitBtn" style="cursor: pointer;" type="button" value="提交簽名"> 
						<input class="btn_save" id="sig-clearBtn" style="cursor: pointer;" type="button" value="清除簽名">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-12">
						<textarea id="sig-dataUrl" class="form-control" rows="5">Data URL for the signature will show here!</textarea>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-12">
						<img class="sig-image" id="sig-image" src="" alt="<Your signature will show here!>"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>