<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:th="http://www.thymeleaf.org" 
	th:with="jsList = ${{'/BCS/JS/pageWinningLetterReply.base.js'}}">
<head th:replace="/BCS/Views/Common/HeadForWinningLetter :: head ('Winning Letter Reply Page', ${jsList})">
</head>

<body>
	<div class="container">
		<header class="ContentHead">
			<h3 class="CHTtl">中獎回函測試</h3>
		</header>
		<table id="tableTest" style="height: 200px; background-color: #cccccc; margin-left: auto; margin-right: auto;"
			border="1" width="100%">
			<tbody>
				<tr style="height: 22px;">
					<td style="width: 588px; height: 22px; text-align: left;"><strong>Please Signature Here</strong></td>
				</tr>
				<tr style="height: 92px;">
					<td style="width: 588px; height: 92px;">&nbsp;</td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="col-md-12">
				<input class="btn_save" id="sig-submitBtn" style="cursor: pointer;" type="button" value="進行手寫簽名">
			</div>
		</div>
	</div>
</body>

</html>