$space: 1rem !default;

$spacer: (
  0: 0,
  1: $space * 0.5,
  2: $space,
  3: $space * 1.5,
  4: $space * 2
);
// Margin
//
// 依據 space 列舉top、right、bottom、left
@each $key, $value in $spacer {
  .m-#{$key} {
    margin: $value !important;
  }
  .mt-#{$key} {
    margin-top: $value !important;
  }
  .mr-#{$key} {
    margin-right: $value !important;
  }
  .mb-#{$key} {
    margin-bottom: $value !important;
  }
  .ml-#{$key} {
    margin-left: $value !important;
  }
}
.m-auto {
  margin: auto;
}

// Padding
//
// 依據 space 列舉top、right、bottom、left
@each $key, $value in $spacer {
  .p-#{$key} {
    padding: $value !important;
  }
  .pt-#{$key} {
    padding-top: $value !important;
  }
  .pr-#{$key} {
    padding-right: $value !important;
  }
  .pb-#{$key} {
    padding-bottom: $value !important;
  }
  .pl-#{$key} {
    padding-left: $value !important;
  }
}
@for $i from 1 to 5 {
  .w#{$i*25} {
    width: $i * 25% !important;;
  }
}
// color
$themes: (
  'red': $red,
  'green': #4CAF50,
  'blue': #1B73A7,
  'yellow': #FFC000,
  'light-gray': gray,
  'dark-gray': #646464,
  'default': #eee
);

@each $key, $var in $themes {
  .bg-#{$key} {
    background-color: $var;
  }
}
// other
.hidden {
  display: none;
}
.pointer {
  cursor: pointer;
}