.modalTypical {
  text-align: center;
  font-size: 0.9rem;
}
.rwModal {
  width: 50%;
  max-width: 320px;
  top: 180px;
  &__header {
    border-radius: 8px 8px 0 0;
    color: white;
    padding: 0.8rem;
    @extend .modalTypical;
  }
  &__content {
    padding: 0.8rem;
    @extend .modalTypical;
    p {
      font-size: 1rem;
      line-height: 1.68;
    }
  }
  &__footer { 
    border-radius: 0 0 8px 8px ;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    @extend .modalTypical;
    p:first-of-type{
      padding: 0.8rem;
      border-radius: 0 0 0 8px;
      background: #ddd;
      color: #333;
    }
    p:last-of-type {
      padding: 0.8rem;
      border-radius: 0 0 8px 0;
    }
  }
}


// POPUP //
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 10;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 35%;
  max-width: 350px;
  position: relative;
  transition: all 5s ease-in-out;
  h2 {
    font-size: 1.3rem;
    color: $dark-gray;
    text-align: center;
    margin-bottom: 2rem;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: $dark-gray;
    z-index: 10;
    cursor: pointer;
    &:hover {
      color: $green;
    }
  }
  
  .content {
    max-height: 30%;
    overflow: auto;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
  }
}