.modalTypical {
  text-align: center;
  font-size: 0.9rem;
}
.rwModal {
  width: 50%;
  max-width: 320px;
  top: 180px;
  &__header {
    border-radius: 8px 8px 0 0;
    color: white;
    padding: 0.8rem;
    @extend .modalTypical;
  }
  &__content {
    padding: 0.8rem;
    @extend .modalTypical;
    p {
      font-size: 1rem;
      line-height: 1.68;
    }
  }
  &__footer { 
    border-radius: 0 0 8px 8px ;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    @extend .modalTypical;
    p:first-of-type{
      padding: 0.8rem;
      border-radius: 0 0 0 8px;
      background: #ddd;
      color: #333;
    }
    p:last-of-type {
      padding: 0.8rem;
      border-radius: 0 0 8px 0;
    }
  }
}